<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="jumbotron">
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputName2">Title:</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Link:</label>
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="www.fb.com">
        </div>
        <button (click)="addArticle()" type="button" class="btn btn-default">Submit link</button>
      </form>
    </div>
  </div>
</div>
